<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Order Details</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/tables.css}">
<link rel="stylesheet"
	th:href="@{/webjars/fontawesome/css/font-awesome.min.css}"></link>
</head>
<body>
	<!-- <div th:replace="layout/header :: header"></div> -->
	<div th:replace="layout/nav-admin :: nav-admin"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="layout/nav-admin-left :: nav-admin-left"></div>
			<div class="col-md-9 ml-sm-auto col-lg-10">
				<div style="height: 160px;"></div>
				<h5>Order Details</h5>
				<label> Order Number: </label>
				<span th:text="${order.number}"></span><br>
				<label> Order Date: </label>
				<span th:text="${order.orderDate}"></span><br>
				<label>Required Date: </label>
				<span th:text="${order.requiredDate}"></span><br>
				<label>Shiped Date: </label>
				<span th:text="${order.shippedDate}"></span><br>
				<label>Status: </label>
				<span th:text="${order.status}"></span><br>
				<label>Comments: </label>
				<span th:text="${order.comments}"></span><br>
				<br>
				<br>
				<p>Order Details List</p>
				<div th:if="${ not#lists.isEmpty(order.orderDetailsList)}">
					<table class="table table-hover content_table">
						<tr class="text-center">
							<th>Number</th>
							<th>Quantity Ordered</th>
							<th>Price Each</th>
							<th>Order Line Number</th>
						</tr>
						<tr class="text-center"
							th:each="orderDetail, i : ${order.orderDetailsList}">
							<td th:text="${i.index}"></td>
							<td th:text="${orderDetail.quantityOrdered}"></td>
							<td th:text="'$ '+${orderDetail.priceEach}"></td>
							<td th:text="${orderDetail.orderLineNumber}"></td>
						</tr>
					</table>
				</div>
			</div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>